<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TestMode</key>
	<true/>
	<key>DebugMode</key>
	<false/>
	<key>ActiveAdnetworks</key>
	<dict>
		<key>AppLovin</key>
		<true/>
		<key>Unity Ads</key>
		<true/>
		<key>Maio</key>
		<true/>
		<key>nend</key>
		<true/>
		<key>Tapjoy</key>
		<true/>
		<key>AdColony</key>
		<true/>
		<key>fluct</key>
		<true/>
	</dict>
</dict>
</plist>
